@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #355B3E;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

a {
    color: #355B3E;
}

a:hover {
    color: black;
}

input, button {
    font-family: "Inter", sans-serif;
}

.button {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: #029664;
    padding: 12px 16px;
    border-radius: 8px;
    display: block;
    border: none;
    width: 100%;
    transition: all .1s ease-in-out;
}

.empty-button {
    background-color: white;
    color: #029664;
    border: 1px solid #029664;
}

.button:hover {
    background-color: black;
}

.empty-button:hover {
    border: 1px solid black;
    color: white;
}

/* 12 Stulpelių gridas - Pradžia */

.row {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}

.row > div {
    padding: 0 12px;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666666666667%;
}

.col-10 {
    width: 83.33333333333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666666666667%;
}

.col-7 {
    width: 58.33333333333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.666666%;
}

.col-1 {
    width: 8.333333333%;
}

/* Pabaiga */

.container {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100vh;
}

.login {
    background-color: white;
    border-radius: 24px;
    overflow: hidden;
}

.login .illustration {
    background-color: #F5DBC4;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .login-form {
    padding: 40px 64px 66px;
}

.login h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;  
    color: #355B3E;
    margin: 55px 0 0;
}

.login p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #58745E;
    margin: 16px 0 32px;
}

.login label {
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin: 0 0 8px;
}

.login input:not([type="checkbox"]) {
    border: 1px solid #B8D6BF;
    width: 100%;
    border-radius: 8px;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 24px;
}

.login input:not([type="checkbox"])::placeholder {
    color: #355B3E;
}

.login .line {
    margin-bottom: 24px;
}

.login .remember-me {
    display: flex;
    justify-content: space-between;
}

.login .checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.login .checkbox label {
    margin: 0;
}

.login .checkbox input {
    margin: 0;
}

.login .buttons {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.login .other-methods {
    margin-top: 56px;
    color: #58745E;
    display: flex;
    gap: 24px;
}

.login .other-methods a {
    font-weight: 500;
    text-decoration: none;
}

.login .mobile-logo {
    display: none;
}

@media screen and (max-width: 768px) {
    .login .mobile-logo {
        display: block;
        background-color: #355B3E;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row {
        /* flex-wrap: wrap; */
        flex-direction: column-reverse;
    }

    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
        width: 100%;
    }

    .container {
        display: block;
        height: auto;
    }

    .login .illustration {
        padding: 35px 0 30px;
    }

    .login .illustration img {
        max-width: 230px;
    }

    .login {
        border-radius: 0;
    }

    .login .login-form {
        padding: 32px 24px 30px;
    }

    .login .logo {
        display: none;
    }

    .login h2 {
        margin-top: 0;
        font-size: 20px;
    }

    .login label {
        font-weight: 400;
        color: #355B3E;
    }

    .login .other-methods {
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 14px;
        font-weight: 400;
    }

    .login .other-methods span {
        width: 100%;
        text-align: center;
    }

    .login .other-methods a {
        font-weight: 400;
    }
}